
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

.venv/
venv/
ENV/

pip-wheel-metadata/
*.dist-info/
*.egg-info/
.eggs/
.build/
.cache/
.mypy_cache/
.pytest_cache/

.coverage
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover

migrations/__pycache__/

.vscode/
.idea/

# ⚙️ Uvicorn logs (if any)
*.log

# Ignore InsightFace models directory
/insightface/
postgresql/
docker-compose.yml
