version: '3.8'
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=1q2w3e4r
      - POSTGRES_DB=EventPhoto
    ports:
      - '5468:5432'
    volumes:
    - db:/var/lib/postgresql/data
volumes:
  db:
    driver: local